/*** Essential Crap ***/

* {
    font-family:'Yanone Kaffeesatz', Arial, Verdana, sans-serif;
    overflow: hidden;
    box-sizing: border-box;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    letter-spacing: 5px;
    white-space: nowrap;
    transition: all 0.5s;
}

*:link, *:visited {
    text-decoration: none;
}




/** Base Styles **/

#mainsection {
    text-align: center;
    display: block;
    margin: 20px;
    height: 41.5vw;
    border: 0.5px solid black;
    box-shadow: 5px 5px 20px black;
    border-radius: 10px;
    font-weight: lighter;
    letter-spacing: 5px;
    position: relative;
    z-index: 1;
} 

#maintext {
    text-align: center;
    display: block;
    padding-top: 6vw;
    height: 40vw;
    font-size: 12.5vw!important;
    font-weight: bold;
    text-shadow: 1px 1px 16px;
    letter-spacing: 5px;
    background: -webkit-linear-gradient(rgb(37, 18, 209), rgb(131, 1, 170));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
 }

 body {
     background-repeat: repeat;
     background-attachment: fixed;
     background-image: url(https://cdn.glitch.com/1cdacc01-3174-49f7-a4b2-e1f0e584fc8d%2F5566450.jpg?v=1629853731289);
 }

 .outer {
   display: table;
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
 }
 
 .middle {
   display: table-cell;
   vertical-align: middle;
 }
 
 .inner {
   margin-left: auto;
   margin-right: auto;
   width: 400px;
   /* Whatever width you want */
 }


 /** Discord Button **/
  
 #discord {
    font-size: 24px; 
    font-weight: bold;
    position: absolute;
    text-align: center;
    display: block;
    color: white;
    padding: 15px;
    top: 30vw;
    left: 50%;
    margin-left: -7.5vw;
    width: 15vw;
    height: 5vw;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    z-index: 3;
    transition: all 0.5s;
 }

 #discord:hover, #discord:focus, #discord:active {
    color: #F6F6F6;
    text-shadow: 2px 2px 4px darkslategray;
    background-color: #5865F2;
    box-shadow: 4px 4px 16px #F6F6F6;
    cursor: pointer;
 }


 /** About Button **/
 
 #about {
    font-size: 24px; 
    font-weight: bold;
    position: absolute;
    display: block;
    color: white;
    padding: 15px;
    top: 20vw;
    left: 20vw;
    width: 15vw;
    height: 5vw;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    z-index: 3;
    transition: all 0.5s;
 }

 #about:hover, #about:focus, #about:active {
    color: #F6F6F6;
    text-shadow: 2px 2px 4px darkslategray;
    background-color: #68ff75;
    box-shadow: 4px 4px 16px #F6F6F6;
    cursor: pointer;
 }
 

 /** Staff APP Button **/

 #app {
    font-size: 24px; 
    font-weight: bold;
    position: absolute;
    display: block;
    color: white;
    padding: 15px;
    top: 20vw;
    left: 60vw;
    width: 15vw;
    height: 5vw;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    z-index: 3;
    transition: all 0.5s;
 }

 #app:hover, #app:focus, #app:active {
    color: #F6F6F6;
    text-shadow: 2px 2px 4px darkslategray;
    background-color: #F5919D;
    box-shadow: 4px 4px 16px #F6F6F6;
    cursor: pointer;
 }
 
 /** Media Compatibility **/

 /* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
   #mainsection {
      height: 100vw;
   }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
   #mainsection {
      height: 90vw;
   }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #mainsection {
     height: 65vw;
  }
  .hidden-media {
     display: none;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #mainsection {
     height: 55vw;
  }
}

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {

}
