/*** Essential Crap ***/

* {
    font-family:'Yanone Kaffeesatz', Arial, Verdana, sans-serif;
    overflow: auto;
    box-sizing: border-box;
    letter-spacing: 5px;
    transition: all 0.5s;
}

*:link, *:visited {
    text-decoration: none;
    color:aquamarine;
}

/** Base Styles **/

#mainsection {
    text-align: center;
    display: block;
    margin: 20px;
    height: 100%;
    border: 0.5px solid black;
    box-shadow: 5px 5px 20px black;
    border-radius: 10px;
    font-weight: lighter;
    letter-spacing: 5px;
    position: relative;
    z-index: 1;
} 

#maintext {
    text-align: center;
    display: block;
    height: 40vw;
    font-size: 4em!important;
    color:lavender;
    font-weight: bold;
    text-shadow: 1px 1px 16px;
    letter-spacing: 5px;
    z-index: 2;
 }

 #abouttext {
   position: absolute;
   padding: 10px;
   color: white;
   font-size: 20px;
   top: 55%;
   margin-top: -200px;
   left: 50%;
   margin-left: -45%;
   height: 400px;
   width: 90%;
 }



body {
    background-repeat: repeat;
    background-attachment: fixed;
    background: url(https://cdn.glitch.com/1cdacc01-3174-49f7-a4b2-e1f0e584fc8d%2F5566450.jpg?v=1629853731289) no-repeat center center fixed;; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
 #goback {
    text-align: left;
    font-size: 20px;
    position: absolute;
    color: white;
    top: 2.5vw;
    left: 3vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    z-index: 3;
 }

 #goback:hover, #goback:active {
     color:bisque;
 }
 
 /** Media Compatibility **/

 /* X-Small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) {
    #mainsection {
       height: 100vw;
    }
    
 #abouttext {
    position: absolute;
    padding: 10px;
    color: white;
    font-size: 20px;
    top: 80%;
    margin-top: -200px;
    height: 400px;
  }
 }
 
 /* Small devices (landscape phones, less than 768px) */
 @media (min-width: 576px) and (max-width: 767.98px) {
    #mainsection {
       height: 90vw;
    }
    
 #abouttext {
    position: absolute;
    padding: 10px;
    color: white;
    font-size: 20px;
    top: 62.5%;
    margin-top: -200px;
    height: 400px;
  }
 
 }
 
 /* Medium devices (tablets, less than 992px) */
 @media (min-width: 768px) and (max-width: 991.98px) {
   #mainsection {
      height: 65vw;
   }
   .hidden-media {
      display: none;
   }
   
 #abouttext {
    position: absolute;
    padding: 10px;
    color: white;
    font-size: 20px;
    top: 65%;
    margin-top: -200px;
    height: 400px;
  }
 
 }
 
 /* Large devices (desktops, less than 1200px) */
 @media (min-width: 992px) and (max-width: 1199.98px) {
   #mainsection {
      height: 55vw;
   }
   #abouttext {
       top: 57.5%
   }
}
 
 /* X-Large devices (large desktops, less than 1400px) */
 @media (min-width: 1200px) and (max-width: 1399.98px) {
 
 }
 