h1 {
  text-align: center;
  color: gray;
}

body {
  text-align: center;
  color: gray;
}

h3 {
  color: white;
}

footer {
  color: lightgray;
  font-size: 8px;
}

.staffbutton {
  padding: 3px;
  border-radius: 5px;
}

.staffbutton:hover,
.staffbutton:active {
  background-color: lightblue;
}

*:link,
*:visited {
  text-decoration: none;
}
